Images/PoO_04-eps-converted-to.pdf
Images/PoO_02-eps-converted-to.pdf
Images/PoO_03-eps-converted-to.pdf
Images/PoO_01-eps-converted-to.pdf
main.aux
main.bbl
main.blg
main.log
main.out
Images/Exponents-eps-converted-to.pdf
main.toc
main.synctex.gz
